{% extends 'base.html' %}

{% block style %}
<style>
  .inicio1 {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .inicio2 {
    width: 900px;
  }
</style>
{% endblock %}

{% block main %}

<!-- ======= Seção Inicial ======= -->
<section id="hero" class="hero">
  <div class="inicio1">
    <div class="inicio2">
      <h2>Bem vindo ao site!</h2>
      <br>
      <br>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
</section>

<!-- ======= Seção de reservasa ======= -->
<section id="portfolio" class="portfolio sections-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Reservas cadastradas</h2>
    </div>

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
      data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 portfolio-container">

        {% for object in object_list %}
        <div class="col-xl-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <a href="" data-gallery="portfolio-gallery-app" class="glightbox">
              {% if object.imagem %}
              <img src="{{ object.imagem.url }}" class="img-fluid" alt="">
              {% endif %}
            </a>
            <div class="portfolio-info">
              <h4><a href="" title="More Details">Nome da empresa: {{ object.nome_empresa }}</a></h4>
              <h4><a href="" title="More Details">Categoria da empresa: {{ object.categoria_empresa }} </a></h4>
              <td>
                <a href="{% url 'reserva_editar' object.pk %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'reserva_deletar' object.pk %}" class="btn btn-danger btn-sm">Remover</a>
                <a href="{% url 'reserva_detalhar' object.pk %}" class="btn btn-primary btn-sm"
                  style="background-color: black; border-color: black;">Detalhar</a>
              </td>
            </div>
          </div>
        </div><!-- End Item -->

        {% empty %}
        <tr>
          <td colspan="4">
            <p>Não existem reservas cadastradas...</p>
          </td>
        </tr>

        {% endfor %}

{% endblock %}