{% extends "base.html" %}

{% block content %}
  <h1>Listagem de Reservas</h1>

  <ul>
    {% for reserva in reservas %}
      <li>
        <strong>Nome da Empresa:</strong> {{ reserva.nome_empresa }}<br>
        <strong>Categoria da Empresa:</strong> {{ reserva.categoria_empresa }}<br>
        <br><br>

        <a href="{% url 'detalhes_reserva' reserva.id %}" class="btn btn-primary">Detalhes</a>
        <a href="{% url 'excluir_reserva' reserva.id %}" class="btn btn-danger">Excluir</a>
      </li>
    {% endfor %}
  </ul>
  
{% endblock %}
